body {
    font-family: "Open Sans";
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

section {
    padding: 52px 0px;
}

section h1 {
    font-weight: 700;
    font-size: 25px;
    color: #cc3333;
    text-align: center;
}

section h2 {
    color: #666666;
    font-size: 16px;
    font-weight: 700;
}

section hr {
    width: 33px;
    background: #cccccc;
    margin-left: 0;
}

section hr.sub {
    height: 2px;
    margin-left: auto;
}

section p.sub {
    font-size: 16px;
    text-align: center;
    color: #666666;
    font-weight: 700;
}

section .description {
    font-size: 13px;
    text-align: left;
}
/*Top header*/

.top-header {
    background: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
    font-size: 13px;
}

.top-header ul li {
    border-right: 1px solid #e8e8e8;
    padding: 13px 18px;
}

.top-header ul li:first-child {
    border-left: 1px solid #e8e8e8;
}

.top-header-left a {
    color: #babbbe;
    text-align: left;
}

.top-header-left i {
    color: #df4a43;
    margin-right: 12px;
}

.top-header-right {
    text-align: right;
}

.top-header-right i {
    color: #afb0b4;
}

.top-header-right ul li:first-child { /*make padding around fb icon match others*/
    padding: 13px 22px;
}

/*Top nav*/
.top-nav-left {
    display: flex;
    align-items: center;
}
.top-nav img {
    width: 64px;
    height: 64px;
    margin: 20px 10px;
}

.top-nav h1 {
    font-family: 'Patua One', cursive;
}

/*
.top-nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav-right li a {
    color: #656873;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 12px;
}

.top-nav-right li a::after {
    position: absolute;
   
    bottom: 0;
    background: #df4a43;
    width: 1%; 
    height: 5px; 
    content: "";
    transition: 0.5s
}

.top-nav-right a:hover {
    color: #df4a43;
}

.top-nav li a:hover::after {
    width: 100%;
}
*/
.top-nav-right ul #nav li {
    display: inline-block;
}

.top-nav-right #nav li a {
    color: #565966;
    font-size: 14px; 
    text-transform: uppercase; 
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 40px 10px;
    position: relative;
}

.top-nav-right #nav li a::after {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    background: #df4a43; 
    width: 0%; 
    height: 5px; 
    content: "";
    transition: 0.5s;
}

.top-nav-right #nav li a:hover::after {
    width: 100%;
}

.top-nav-right #nav li a:hover {
    color: #df4a43;
}

/* Our Features */
.features i {
    color: #cc3333;
    padding: 15px;
    border: 1px solid #cccccc;
    align-self: flex-start;
    margin-right: 20px;
}

.features a {
    color: #666666;
    font-weight: 700;
}

.features .item {
    display: flex;
}

.features .row {
    margin: 50px auto;
}

.features .row:last-child {
    margin-bottom: 110px;
}

/* Services */
.owl-carousel {
    margin-top: 52px;
}

.services {
    background: #383c4b;
    text-align: center;
}

.services h2 {
    color: #df4a43;
}

.services p.sub {
    color: #ffffff;
}

.services p.description {
    color: #999999;
    text-align: center;
}

.services hr {
    margin-left: auto;
}

.services i {
    color: #df4a43;
    border: 5px solid #666666;
    padding: 20px;
    margin: 20px auto;
    border-radius: 50%;
    transition: 0.5s;
}

.services a:hover i {
    background: #df4a43;
    color: #ffffff;
}

/* Courses */
.courses {
    background: #f6f6f6;
}
.course_main {
    padding: 30px;
    background: #ffffff;
}

.courses .item {
    border: 1px solid #d8d8d9;
    margin: 14px;
}

.courses h2 {
    color: #df4a43;
    font-size: 18px;
}

.courses p.tag {
    font-size: 12px;
    color: #bbbcbf;
    margin: 20px 0;
}

.courses p.description {
    margin: 0;
}

.courses a {
    border: 1px solid #df4a43;
    padding: 15px 25px;
    color: #df4a43;
    font-size: 13px;
    display: inline-block;
    margin-top: 25px;
}

/* Testimonials */
.testimonials {
    padding: 0;
    text-align: center;
    background-image: url(../images/testimonial\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials .overlay2 {
    padding: 52px 0px;    
    background: #e25d58;
    opacity: 0.9;
}
.profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #df4c45;
    background: #cbcbcd;
    margin: 30px auto;
}
.quote {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
}

.testimonials .author {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.source {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: white;
    margin-bottom: 50px;
}

.company {
    color: black;
}

/* Clients */
.clients h1 {
    text-align: left;
}

.clients hr.sub {
    margin-left: 0;
}

.clients .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background: #df4a43;
    font-size: 25px;
    color: white;
    width: 30px;
    height: 30px;
}

.clients .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
    background: #262626;
}

.clients .owl-nav button:focus {
    outline: none;
}

.clients .owl-dots{
    display: none;
}

.clients .owl-nav {
    position: absolute;
    top: -114px;
    right: 0;
}

.clients .owl-nav button span {
    position: relative;
    top: -5px;
}

/* Footer Info */
footer ul li {
    display: inline-block;
}

.info {
    background: #2c2f3c;
    color: #cbcbcd;
    font-size: 13px;
}

.info h1 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #f1f1f2;
    text-align: left;
    margin-bottom: 30px;
}

.info h2 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fefefe;
}

.info ul {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.info ul li {
    margin: 6px 0;
}

.info i {
    margin-right: 13px;
    color: #6f7478;
}

.course {
    display: flex;
    align-content: center;
}

.info .profile {
    width: 72px;
    height: 72px;
    background: #df4a43;
    border-radius: 0;
    margin: auto 20px 30px 0px;
}

.course_info {
    flex: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}

.info p {
    margin-bottom: 4px;
}

.info .author {
    color: #df4a43
}

#follow {
    margin: 20px 0 10px 0;
}

.tags {
    font-size: 12px;
    background: #252833;
    padding: 9px 11px;
    margin: 5px;
    display: inline-block;
}

.tags a {
    color: #a9a9ab;
}

.social i {
    font-size: 15px;
    color: white;
    width: 26px;
    height: 26px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.social i.fa-facebook-f {
    background: #5d82d1;
}

.social i.fa-twitter {
    background: #33ccff;
}

.social i.fa-google-plus-g {
    background: #eb5e4c;
}

.social i.fa-vimeo {
    background: #35c6ea;
}

.social i.fa-linkedin-in {
    background: #238cc8;
}

.social i.fa-youtube {
    background: #ef4e41;
}

ul.social li {
    margin: 3px;
}

.info .time {
    font-size: 11px;
    margin-bottom: 30px;
    color: #6f7478;
}

/* Footer Nav */
footer nav {
    background: #262934;
    color: #bbbbbd;
    font-size: 13px;
    padding: 18px 0 8px 0;
}

footer nav ul li {
    margin: 0 11px;
}

footer nav a {
    color: #6f7478;
}

footer nav a:hover {
    color: white;
}

#scrollUp {
    text-indent: -99999px;
    background: url(../images/top.jpg);
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-size: 100% auto;
}